<ion-content>
    <div class="avatar">
        <ion-back-button text="Back" icon="chevron-back" defaultHref="/home-chatbox"></ion-back-button>
        <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />
        </ion-avatar>
        <ion-label>Name</ion-label>
    </div>
    <ion-list>
        <ion-item>
            <ion-label style="font-family: 'Times New Roman', Times, serif;">
                <ion-icon name="color-filter-outline"></ion-icon> Màu sắc</ion-label>
        </ion-item>
        <ion-item>
            <ion-label style="font-family: 'Times New Roman', Times, serif;">
                <ion-icon name="happy-outline"></ion-icon> Biểu tượng cảm xúc
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label style="font-family: 'Times New Roman', Times, serif;">
                <ion-icon name="happy-outline"></ion-icon> Biệt danh</ion-label>
        </ion-item>
        <ion-item>
            <ion-label style="font-family: 'Times New Roman', Times, serif;">
                <ion-icon name="image-outline"></ion-icon> Ảnh</ion-label>
        </ion-item>
        <ion-item>
            <ion-label style="font-family: 'Times New Roman', Times, serif;">
                <ion-icon name="people-outline"></ion-icon> Nhóm</ion-label>
        </ion-item>
        <ion-item>
            <ion-label style="font-family: 'Times New Roman', Times, serif;">
                <ion-icon name="search-circle-outline"></ion-icon> Tìm kiếm trong tin nhắn
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label style="font-family: 'Times New Roman', Times, serif;">
                <ion-icon name="close-circle-outline"></ion-icon> Chặn</ion-label>
        </ion-item>
    </ion-list>
</ion-content>