.avatar-chat {
    // width: 38%;
    // margin-top: -20px;
    ion-avatar {
        width: 30px;
        height: 30px;
        // padding-left: 10px;
        // padding-bottom: 10px;
        // margin-left: 20px;
        float: left;
    }
    ion-label {
//         float: left;
//         margin-top: -35px;
    float: left;
    

    }
}

// ion-back-button {
    // width: 30px;
    // height: 20px;
    // padding-left: -2px;
    // padding-right: 5px;
    // padding-top: 10px;
    // color: rgb(57, 138, 243);
    // position: absolute;
// }

.call {

    clear: both;
    float: right;
    margin-top: -30px;
    ion-icon {
        width: 25px;
        height: 25px;
        margin-right: 15px;
        color: rgb(57, 138, 243);
    }
}

// ion-input {
//     width: 60%;
//     height: 25px;
//     border: solid 1px rgb(231, 231, 231);
//     border-radius: 10px;
//     background-color: rgb(231, 231, 231);
//     margin-left: auto;
//     margin-right: auto;
// }
ion-footer {
    background: white;
    ion-input {
        height: 25px;
        border: solid 1px rgb(231, 231, 231);
        border-radius: 10px;
        background-color: rgb(231, 231, 231);
    }
    ion-icon {
        padding: 2px 10px 10px 10px;
        font-size: 20px;
        color: green;
    }
}

.item1 {
    width: fit-content;
    margin-left: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.item2{
    width: fit-content;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}