<ion-header>

    <ion-toolbar>
        <!-- Avatar -->
        <div>
            <ion-back-button text="" icon="chevron-back" defaultHref="/index"></ion-back-button>
            <div class="avatar-chat">
                <ion-avatar>
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
                <ion-label> Avatar</ion-label>
            </div>
        </div>
        <div class="call">
            <ion-icon name="call"></ion-icon>
            <ion-icon name="videocam"></ion-icon>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content>
</ion-content>

<!-- Chat-Input -->
<ion-footer style="background-color: white;">
    <ion-grid>
        <ion-row style="margin-right: -20px;">
            <ion-col size="10" style="margin-right: -15px;">
                <ion-input type="text" placeholder="Aa"></ion-input>
            </ion-col>
            <ion-col size="2">
                <ion-icon name="paper-plane"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>