<ion-header>
  <ion-toolbar>
    <ion-title>Contact</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button expand="block">Thêm bạn bè </ion-button> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="success" (click)="openfindpeople()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles">

      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>
            <h1>Hưng</h1>
          </ion-label>
          <ion-button shape="round" fill="outline">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-button>
          <ion-button shape="round" color="danger" fill="outline">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-item>


      </ion-list>

      
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
