<ion-header>
    <ion-toolbar>
        <label class="label-chat"> Chat </label>
        <!-- Avatar -->
        <ion-chip style="float: right;margin-top: -2px;" (click)="openModel()">
            <ion-label style="font-family: cursive;">Chip Avatar</ion-label>
            <ion-avatar>
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>

        </ion-chip>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="container">
        <!-- Animated Searchbar -->
        <ion-searchbar animated style="margin-top: 5px;"></ion-searchbar>

        <!-- Item -->
        <div class="item">
            <ion-item>
                <ion-avatar slot="start">
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
                <ion-label>
                    <h2>Anna</h2>
                    <h6>Hello world</h6>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
                <ion-label>
                    <h2>Jodan</h2>
                    <h6>Hello world</h6>
                </ion-label>
            </ion-item>
        </div>
    </div>
</ion-content>