<ion-header>
    <ion-toolbar>
        <h1>Đăng ký</h1>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form onsubmit="processForm(event)">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item>
                <ion-label position="stacked">Full Name
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Email
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="email" oninput="handleLastNameValue(event)"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Password
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="password" oninput="handleLastNameValue(event)"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Phone</ion-label>
                <ion-input></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Address</ion-label>
                <ion-input></ion-input>
            </ion-item>

            <div class="ion-padding">
                <ion-button expand="block" type="submit" class="ion-no-margin">Create account</ion-button>
            </div>
            <div style="text-align: center; margin-top: -10px;">
                <button ion-button [routerLink]="['/home']">Bạn đã có tài khoản</button>
            </div>
        </ion-list>
    </form>