<ion-header>
    <ion-toolbar>
        <h1>Đăng ký</h1>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <form onsubmit="processForm(event)"> -->
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
            <ion-label position="stacked">Full Name
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Email
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Password
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select placeholder="Select One">
                <ion-select-option value="female">Female</ion-select-option>
                <ion-select-option value="male">Male</ion-select-option>
                <ion-select-option value="other">Other...</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Birthday</ion-label>
            <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Phone</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <div class="ion-padding">
            <ion-button expand="block" type="submit" class="ion-no-margin" (click)="SignUp()">Create account</ion-button>
        </div>
        <div style="text-align: center; margin-top: -10px;">
            <button ion-button [routerLink]="['/home']">Bạn đã có tài khoản</button>
        </div>
    </ion-list>
    <!-- </form> -->