.utilities {
    float: right;
    margin-top: 5px;
    ion-icon {
        padding: 5px;
        border: solid 1px;
        border-radius: 100%;
        margin-right: 5px;
    }
}

ion-searchbar {
    height: 50%;
}

.label-pb {
    font-family: cursive;
    font-size: 20px;
    padding-left: 5px;
}

ion-item {
    height: 50%;
}

